@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .custom-prose {
    @apply prose prose-neutral dark:prose-invert;
  }
  .custom-prose-lg {
    @apply prose lg:prose-lg prose-neutral dark:prose-invert;
  }
  .custom-prose-xl {
    @apply prose lg:prose-xl prose-neutral dark:prose-invert;
  }
}
